<!-- List title -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
	<h2> <%= activeItem %> List </h2>
</div>

<!-- List items -->
<div class="list-group">
	<%	var items = list.getItems()
		for (let itemId in items) { 
			var item = items[itemId];
	%>
		<label class="list-group-item d-flex gap-3">
			<input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;"> <!-- checked="" -->
			<span class="pt-1 form-checked-content">
				<strong><%= item.toDo %></strong>
				<small class="d-block text-body-secondary">
					<img src="./img/calendar-event.svg" alt="calendar" height="10">
					1:00–2:00pm
				</small>
			</span>
			<form class="item" action="/deleteitem" method="delete">
				<input type="hidden" name="listId" value="<%= list.getName() %>">
				<input type="hidden" name="itemId" value="<%= item.getId() %>">
				<button class="delete-btn" list="">
					<img src="./img/trash.svg" alt="delete" height="15">
				</button>
			</form>
		</label>
	<%} %>
	<!-- Add item lable: Default element for each list -->
	<label class="list-group-item d-flex gap-3 bg-body-tertiary">
		<input class="form-check-input form-check-input-placeholder bg-body-tertiary flex-shrink-0 pe-none" disabled="" type="checkbox" value="" style="font-size: 1.375em;">
		<span class="pt-1 form-checked-content">
			<form class="item" action="/additem" method="post">
				<input type="hidden" name="listId" value="<%= list.getName() %>">
				<input type="text" name="newItem" placeholder="New Item" autocomplete="off">
				<button type="submit" list="">
					<img src="./img/plus-circle.svg" alt="add item" height="25">
				</button>
			</form>
		</span>
	</label>
</div>