<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">

	<div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
	<div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
		<ul class="nav flex-column">
			<li class="nav-item <%= activeItem === 'today' ? 'active' : '' %>">
				<form action="/" method="GET">
					<img src="./img/calendar.svg" alt="today" height="20">
					<button type="submit" class="btn">Today</button>
				</form>
			</li>
			<li class="nav-item <%= activeItem === 'upcoming' ? 'active' : '' %>">
				<form action="/upcoming" method="GET">
					<img src="./img/calendar-upcoming.svg" alt="upcoming" height="20">
					<button type="submit" class="btn">Upcoming</button>
				</form>
			</li>
		</ul>

		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
			<span>Saved lists</span>
		</h6>

		<ul class="nav flex-column mb-auto">
			<% listNames.forEach(list => { %>
				<li class="nav-item <%= activeItem === list ? 'active' : '' %>">
					<form action="/showlist" method="GET">
						<input type="hidden" name="listId" value="<%= list %>">
						<img src="./img/personal.svg" alt="personal list" height="20">
						<button type="submit" class="btn"><%= list %></button>
					</form>
				</li>
			<%}) %>

			<!-- <li class="nav-item">
				<form action="/" method="GET">
					<img src="./img/work.svg" alt="work list" height="20">
					<button type="submit" class="btn">Work</button>
				</form>
			</li> -->
		</ul>
	</div>
</div>